<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="s3box" Language="1041" Version="0.1.0.0"
			 Manufacturer="Ryan Work" UpgradeCode="b5083f22-a9a1-4082-8cd3-cd6037925657" Codepage="932">
		<Package Description="aws s3 backend storage" Comments="s3box" InstallerVersion="200" Compressed="yes"
				 InstallScope="perMachine" SummaryCodepage="932" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		<Icon Id="icon.ico" SourceFile="s3box.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Feature Id="ProductFeature" Title="s3box" Level="1">
			<ComponentGroupRef Id="OverlayComponents" />
			<ComponentGroupRef Id="OverlayX86Components" />
			<ComponentGroupRef Id="OverlayX64Components" />
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductComponentLogs" />
			<ComponentGroupRef Id="ProductComponentAssets" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortCutStartUp" />
		</Feature>

		<CustomAction Id="RunBatch" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]install.bat" 
					  Return="check" Execute="deferred" Impersonate='no' />
		<CustomAction Id="Uninstall" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]uninstall.bat"
					  Return="check" Execute="deferred" Impersonate='no' />
		<InstallExecuteSequence>
			<Custom Action="RunBatch" After="InstallFiles">NOT Installed</Custom>
		    <Custom Action="Uninstall" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="s3box">
					<Directory Id="SUBFOLDERx86" Name="x86"></Directory>
					<Directory Id="SUBFOLDERx64" Name="x64"></Directory>
					<Directory Id="SUBFOLDER_LOG" Name="log"></Directory>
					<Directory Id="SUBFOLDER_ASSETS" Name="assets"></Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="s3box"/>
			</Directory>
			<Directory Id="StartupFolder">
			</Directory> 
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="OverlayComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent001" Guid="72d2256f-5ca6-4b4e-9c38-11cb91602366" >
        <File Id="OverlayFile001" Source="..\s3-box-overlay\bin\Release\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="ProductComponent002" Guid="4f0be6e3-9126-40d1-bb5d-e7cef8bb35cb" >
        <File Id="OverlayFile002" Source="..\s3-box-overlay\bin\Release\s3-box-overlay.dll" />
      </Component>
      <Component Id="ProductComponent003" Guid="a37b63a7-7d05-4086-bcf8-cf6bf59821d4" >
        <File Id="OverlayFile003" Source="..\s3-box-overlay\bin\Release\s3-box-overlay.pdb" />
      </Component>
      <Component Id="ProductComponent004" Guid="ab1e5110-7c31-43d0-9739-f469e1019833" >
        <File Id="OverlayFile004" Source="..\s3-box-overlay\bin\Release\SharpShell.dll" />
      </Component>
      <Component Id="ProductComponent005" Guid="8118c587-4230-47ee-b740-411c9aceaa21" >
        <File Id="OverlayFile005" Source="..\s3-box-overlay\bin\Release\SharpShell.xml" />
      </Component>
      <Component Id="ProductComponent006" Guid="7701974f-2958-41e4-8f67-b93b96ab0b34" >
        <File Id="OverlayFile006" Source="..\s3-box-overlay\bin\Release\SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="ProductComponent007" Guid="d92a573b-c58a-48e4-b3b9-16aa04476bcd" >
        <File Id="OverlayFile007" Source="..\s3-box-overlay\bin\Release\System.Buffers.dll" />
      </Component>
      <Component Id="ProductComponent008" Guid="4e41bf2b-e3de-4abd-bf7c-a3625627484c" >
        <File Id="OverlayFile008" Source="..\s3-box-overlay\bin\Release\System.Buffers.xml" />
      </Component>
      <Component Id="ProductComponent009" Guid="d7fd236c-0869-4671-9b95-9c2b0b7c00af" >
        <File Id="OverlayFile009" Source="..\s3-box-overlay\bin\Release\System.Data.SQLite.dll" />
      </Component>
      <Component Id="ProductComponent010" Guid="0606b121-7b05-411a-80d0-0fdb4b2a52fc" >
        <File Id="OverlayFile010" Source="..\s3-box-overlay\bin\Release\System.Data.SQLite.xml" />
      </Component>
      <Component Id="ProductComponent011" Guid="fa487e57-a2c2-470b-b6d8-70f340032ebe" >
        <File Id="OverlayFile011" Source="..\s3-box-overlay\bin\Release\System.Memory.dll" />
      </Component>
      <Component Id="ProductComponent012" Guid="1e3a0ccd-20bf-4823-9614-171be3625e73" >
        <File Id="OverlayFile012" Source="..\s3-box-overlay\bin\Release\System.Memory.xml" />
      </Component>
      <Component Id="ProductComponent013" Guid="24171ad1-836f-462f-9c5e-fe986877677a" >
        <File Id="OverlayFile013" Source="..\s3-box-overlay\bin\Release\System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="ProductComponent014" Guid="a4c5731c-05aa-46c0-88e0-080607beda18" >
        <File Id="OverlayFile014" Source="..\s3-box-overlay\bin\Release\System.Numerics.Vectors.xml" />
      </Component>
      <Component Id="ProductComponent015" Guid="dd20f910-a8b7-45f6-9605-8b6afdb91311" >
        <File Id="OverlayFile015" Source="..\s3-box-overlay\bin\Release\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="ProductComponent016" Guid="9a06d0f4-c9fb-489d-af9a-f44e41edd10b" >
        <File Id="OverlayFile016" Source="..\s3-box-overlay\bin\Release\System.Runtime.CompilerServices.Unsafe.xml" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="OverlayX86Components" Directory="SUBFOLDERx86">
      <Component Id="ProductComponent018" Guid="9949c9b4-265d-47fb-9c83-947f9ca05706" >
        <File Id="OverlayFile018" Source="..\s3-box-overlay\bin\Release\x86\SQLite.Interop.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="OverlayX64Components" Directory="SUBFOLDERx64">
      <Component Id="ProductComponent017" Guid="38e6519d-0a81-4fa3-a8fd-8c97862390d9" >
        <File Id="OverlayFile017" Source="..\s3-box-overlay\bin\Release\x64\SQLite.Interop.dll" />
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent1">
				<File Id="ExeId" Source="..\s3-box\dist\s3box.exe" />
			</Component>
			<Component Id="ProductComponent2">
				<File Source="..\s3-box\config.ini" />
			</Component>
			<Component Id="ProductComponent3" >
				<File Source="install.bat" />
			</Component>
			<Component Id="ProductComponent4" >
				<File Source="uninstall.bat" />
			</Component>
			<Component Id="RegistryEntries" Guid="529305ce-e010-41d6-86de-e288add76189">
				<RegistryKey Root="HKCU"
							 Key="Software\RyanWork\s3box"
						Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="[INSTALLFOLDER]"/>
				</RegistryKey>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ProductComponentLogs" Directory="SUBFOLDER_LOG">
			<Component Id="ProductComponentLog1" Guid="d506e3a8-5dba-4305-9802-d441e1b63d29">
				<CreateFolder Directory="SUBFOLDER_LOG">
					<util:PermissionEx User="Users" GenericAll="yes"/>
				</CreateFolder>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ProductComponentAssets" Directory="SUBFOLDER_ASSETS">
			<Component Id="ProductComponentAsset1" Guid="826aec57-2c7f-4b7c-b0c6-3ac01a36660b">
				<CreateFolder Directory="SUBFOLDER_ASSETS">
					<util:PermissionEx User="Users" GenericAll="yes"/>
				</CreateFolder>
			</Component>
		</ComponentGroup>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="8b50ada6-f570-40af-b910-1c652c5b53cf">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="s3box"
						  Description="s3box"
						  Target="[#ExeId]"
						  WorkingDirectory="INSTALLFOLDER"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\RyanWork\s3box" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="StartupFolder">
			<Component Id="ApplicationShortCutStartUp" Guid="0affe6f4-d81d-43cc-905f-c9df05257927">
				<Shortcut Id="AppShortCutStartUp"
							Name="s3box"
              Description="s3box"
						  Target="[#ExeId]"
              WorkingDirectory="INSTALLFOLDER" />

				<RegistryValue Root="HKCU" Key="Software\RyanWork\s3box" Name="startup" Type="integer" Value="1" KeyPath="yes"/>
					<!-- <RegistryValue
						Root="HKCU"
						Key="Software\Microsoft\Windows\CurrentVersion\Run"
						Name="s3box"
						Type="string"
						Value="&quot;[#ExeId]&quot;"
						KeyPath="yes"
					/> -->
			</Component>

		</DirectoryRef>
	</Fragment>

</Wix>
